.faststore-propsSection {
  width: 100%;
  overflow-x: auto;
}

.faststore-propsSection table {
  width: 100%;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .faststore-propsSection table { table-layout: fixed; }
}

.faststore-propsSection tr:first-child td { padding-top: 1.5rem; }

.faststore-propsSection th,
.faststore-propsSection td {
  text-align: left;
  overflow: hidden;
}

.faststore-propsSection [data-nx-props-section-name] { overflow-x: auto; }

.faststore-propsSection [data-nx-props-section-type] code {
  max-height: 8rem;
  overflow-y: auto;
}

@media screen and (min-width: 1024px) {
  .faststore-propsSection [data-nx-props-section-name] { width: 25%; }
  .faststore-propsSection [data-nx-props-section-type] { width: 20%; }
  .faststore-propsSection [data-nx-props-section-description] { width: 35%; }
  .faststore-propsSection [data-nx-props-section-default] { width: 20%; }
}


.faststore-propsSection td[data-nx-props-section-name] span {
  color: #f06560;
  margin-left: var(--fs-spacing-0);
  cursor: help;
}


.faststore-propsSection td[data-nx-props-section-type] span {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  row-gap: var(--fs-spacing-0);
}

.faststore-propsSection td {
  padding: var(--fs-spacing-2) var(--fs-spacing-2);
  font-size: var(--fs-text-size-legend);
  line-height: 1.2;
  vertical-align: top;
}

.faststore-propsSection td code {
  background-color: #f6f8fa;
  border-radius: 4px;
  color: var(--md-code-text);
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 0.875em;
  max-width: 100%;
  word-wrap: break-word;
  display: inline-block;
}
