# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Sitemap file
sitemap.xml
sitemap-0.xml
robots.txt

# Local Scraping
/docsearch-scraper

# next.js
/.next/
/out/

# production
/build
/public/rapidoc/rapidoc-min.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# Local Netlify folder
.netlify
.env copy.local
