.table {
  border-collapse: collapse;
  border: 1px solid #e7e9ef;
  margin: 25px 0;
  width: 100%;
}

.table thead {
  border: 1px solid #e7e9ef;
  font-weight: 500;
}

.table td,
.table th {
  border: 1px solid #e7e9ef;
  padding: 14px;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f8f7fc;
}

.img {
  max-width: 100%;
  padding-top: 2vh;
}

.heading::before {
  content: '';
  display: block;
  height: 20vh;
  margin-top: -20vh;
  visibility: hidden;
  pointer-events: none;
}

.code {
  background-color: #f6f8fa;
  background-color: var(--md-code-background, #f6f8fa);
  border-radius: 4px;
  color: var(--md-code-text);
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
  font-family: var(
    --md-code-font,
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    Courier,
    monospace
  );
  font-size: 1em;
}

.pre code {
  background-color: #f8f7fc !important;
  border: 1px solid #e7e9ee;
  border-radius: 4px;
  line-break: auto;
}