@import "@faststore/ui/src/styles/base/utilities.scss";
@import '@faststore/ui/src/styles/global.scss';
@import '@faststore/ui/src/styles/components.scss';

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: revert;
}