html,
body,
* {
  font-family: 'VTEX Trust Regular', -apple-system, system-ui,
    BlinkMacSystemFont, sans-serif !important;
}

body.modal-open {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

a {
  color: #e31c58;
  text-decoration: none !important;
}

a:hover {
  color: #c81e51;
}

footer > div {
  margin-inline: 0 !important;
  max-width: 100% !important;
}

.searchComponent:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  overflow-x: auto;
  display: inline-block;
  margin: 16px 0;
  border-radius: 4px
}

table thead {
  border: 1px solid #e7e9ef;
  font-weight: 500;
}

pre, code, pre *, code * {
  font-family: Consolas,monaco,monospace !important;
}

table td,
table th {
  border: 1px solid #e7e9ef;
  padding: 14px;
}

table tbody tr:nth-of-type(even) {
  background-color: #f8f7fc;
}

.api {
  box-sizing: border-box;
  margin: 0px 4px;
  border: 1px solid #dddddd;
  background: #f4f4f4;
  border-radius: 2px;
  width: max-content;
  height: 24px;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
}

.api.type-post {
  color: #2978b5;
}

.api.type-get {
  color: #38853c;
}

.api.type-put {
  color: #d56a00;
}

.api.type-delete {
  color: #cc3d3d;
}

.api.type-patch {
  color: #827717;
}