body.modal-open {
  position: fixed;
  overflow-y:scroll;
  width: 100%;
}

a {
  text-decoration: none !important;
}

footer > div {
  margin-inline: 0 !important;
  max-width: 100% !important;
}

.searchComponent:focus {
  outline: none;
}
