foreignObject {
  overflow: visible;
}

.edgePaths {
  stroke: #E31C58;
  stroke-width: 2px;
}

.edgeLabel {
  background-color: #F4F4F4;
  color: #545454;
}

.node {
  stroke: #E31C58;
  color: #545454;

  font-size: 15px;
  text-align: center;
}

.node .label-container {
  fill: #F4F4F4;
}

#flowchart-pointEnd {
  fill: #E31C58;
}
