rapi-doc::part(section-navbar) {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  background: #ffffff;
  align-self: stretch;
  margin: 0 15px 0 0;
}

rapi-doc::part(section-navbar-scroll) {
  padding: 0px;
  width: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
  gap: 11px;
  overflow-y: scroll;
  background: #ffffff;
  align-self: stretch;
}

rapi-doc::part(section-main-content) {
  background: #ffffff;
  padding: 24px 0;
}

rapi-doc::part(section-overview),
rapi-doc::part(section-operations-in-tag) {
  width: 85%;
  margin: auto;
}

rapi-doc::part(anchor-param-example) {
  color: #e31c58;
  font-size: 14px;
}

rapi-doc::part(anchor-param-example):hover {
  color: #c81e51;
}

rapi-doc::part(textbox),
rapi-doc::part(textbox-param),
rapi-doc::part(textarea),
rapi-doc::part(textarea-param) {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 12px;
  position: static;
  background: rgba(255, 255, 255, 0.0001);
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  border-radius: 4px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

rapi-doc::part(anchor-endpoint) {
  position: relative;
  top: -220px;
  visibility:hidden;
}

rapi-doc::part(section-operation-summary){
  padding-top: 0px;
}

rapi-doc::part(section-overview-title){
  padding-top: 32px;
  line-height: 38px;
}

rapi-doc::part(section-operation-summary),
rapi-doc::part(section-overview-title) {
  font-size: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E7E9EE;
  margin-bottom: 24px;
}