.faststore-tokenColors {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--fs-spacing-0);
  row-gap: 1rem;
  margin-top: 1.5rem;
  padding-left: 0;
}

.faststore-tokenColor {
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-spacing-0);
  flex: 1 0 calc(20% - 10px);
}

.faststore-tokenColor > p {
  font-size: 14px;
  font-weight: var(--fs-text-weight-bold);
}

.faststore-tokenColor > div {
  width: auto;
  height: 3.5rem;
  border: var(--fs-border-width) solid var(--fs-border-color-light);
  border-radius: var(--fs-border-radius);
}