.title {
  color: #142032;
  margin-bottom: 0px;
}
.details {
  color: #a1a8b3;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px #e7e9ee solid;
}

.blockquote {
  display: flex;
  background: #fff7f9;
  padding: 8px 20px;
  border-radius: 10px;
  align-items: center;
  margin: 30px 0;
}

.blockquote p {
  margin-left: 20px;
}

.diagram {
  margin: 18px 0;
}

.diagramTitle {
  text-transform: uppercase;
  color: #142032;
  font-size: 16px;
}

.diagramFlex {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.diagramCard {
  font-size: 14px;
  border-radius: 5px;
  padding: 0 8px;
  height: 45px;
  color: #5e6e84;
  display: flex;
  align-items: center;
}

.diagramGray {
  background-color: white;
  border: 1px solid #a1a8b7;
}

.diagramPink {
  border: 1px solid #f71963;
}

.diagramPinkCard {
  background: rgba(247, 25, 99, 0.04);
  border: 1px solid #f71963;
  width: 673px;
}

.diagram h2 {
  margin: 0;
}

.diagramBox {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 2px 2px 10px rgba(91, 110, 132, 0.2);
  border-radius: 5px;
  padding: 18px;
  margin: 10px 0;
}

.diagramSecondRow (min-width: 900px) {
  display: grid;
}

.diagramSecondRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.diagramBoxServices h2 {
  text-transform: uppercase;
  color: #f71963;
  font-size: 16px;
}
.diagramGrid {
  width: 70%;
  display: grid;
  grid-template-columns: 45% 45% 45%;
  gap: 8px 8px;
  margin-right: 18px;
}

.diagramGrid div {
  width: 100%;
}

.diagramBoxServicesContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  margin-top: 18px;
}

.diagramGridVertical {
  display: grid;
  margin-top: 18px;
  gap: 8px;
}

.diagramGridVertical div {
  width: 130px;
}

.diagramBox3rd {
  width: 100%;
}

.diagramGridTwoColumns {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px 10px;
  grid-template-areas:
    '. .'
    '. .'
    '. .'
    '. .'
    '. .';
}

.diagramGridHorizontal {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 5px 18px;
  grid-template-areas: '. . . . . .';
}

.diagramMuted {
  background: rgba(94, 110, 132, 0.04);
  border: 1px dashed #5e6e84;
}
