/* Section List */

.faststore-sectionList [data-doc-section-grid='row'] {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  flex-direction: column;
}

.faststore-sectionList [data-doc-section-grid='column'] {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  flex-direction: row;
}

/* Section Item */

.faststore-sectionItem {
  border: 1px solid #e7e9ee;
  border-radius: 4px;
}

.faststore-sectionItem-description {
  padding: 0 16px 16px;
  align-content: center;
}

/* Section Item Column*/

.faststore-sectionList [data-doc-section-grid='column'] .faststore-sectionItem {
  display: grid;
  grid-template-rows: 200px 1fr;
  flex-basis: 0;
  flex-grow: 1;
}

.faststore-sectionList [data-doc-section-grid='column'][data-doc-section-grid-columns='2'] .faststore-sectionItem {
  min-width: 49%;
}
.faststore-sectionList [data-doc-section-grid='column'][data-doc-section-grid-columns='3'] .faststore-sectionItem {
  min-width: 32%;
}

/* Section Item Row*/

.faststore-sectionList [data-doc-section-grid='row'] .faststore-sectionItem {
  display: grid;
  grid-auto-flow: column;
}

.faststore-sectionList
  [data-doc-section-grid='column']
  .faststore-sectionItem[data-doc-section-item-small-height] {
  grid-template-rows: 1fr 1fr;
}

.faststore-sectionList
  [data-doc-section-grid='column']
  .faststore-sectionItem
  > article {
  height: 100%;
  width: 100%;
}

/* Section Item Image */

.faststore-sectionItem > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: var(--fs-color-neutral-bkg);
  border-radius: 4px;
  overflow-y: auto;
  max-height: 24rem;
}

.faststore-sectionList
  [data-doc-section-grid='column']
  .faststore-sectionItem
  > div {
  height: 100%;
}

.faststore-sectionList
  [data-doc-section-grid='row']
  .faststore-sectionItem
  > div {
  flex-shrink: 0;
  align-self: stretch;
}

.faststore-sectionItem[data-doc-section-item-full-width] > div > * {
  width: 100%;
}

.faststore-sectionItem[data-doc-section-item-full-width]
  [data-fs-product-shelf-items] {
  width: 100%;
}

.faststore-sectionItem[data-doc-section-item-zoom-out='true'] > div > * {
  width: 100%;
  zoom: 60%;
}

/* Tokens Links */

.faststore-tokensLinks {
  margin-top: 1.5rem;
}

.faststore-tokensLinks [data-doc-section-grid='column'] .faststore-sectionItem {
  display: flex;
  flex-direction: column;
}

.faststore-tokensLinks
  [data-doc-section-grid='column']
  .faststore-sectionItem
  > div {
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30% auto;
}

.faststore-tokensLinks .faststore-sectionItem > article {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.faststore-tokensLinks .faststore-sectionItem:nth-child(odd) > div {
  background-color: var(--fs-color-main-2);
}

.faststore-tokensLinks .faststore-sectionItem:nth-child(1) > div {
  background-image: url('https://vtexhelp.vtexassets.com/assets/docs/src/colors___038effcf345acf3d037bc63ed8671455.png');
}

.faststore-tokensLinks .faststore-sectionItem:nth-child(2) > div {
  background-image: url('https://vtexhelp.vtexassets.com/assets/docs/src/typography___318fbc78202402728a2113e63b47241f.png');
}

.faststore-tokensLinks .faststore-sectionItem:nth-child(3) > div {
  background-image: url('https://vtexhelp.vtexassets.com/assets/docs/src/spacing___ca1d02b0bcc238811347eddc66a807ad.png');
}

.faststore-tokensLinks .faststore-sectionItem:nth-child(4) > div {
  background-image: url('https://vtexhelp.vtexassets.com/assets/docs/src/grid___6dfb4949712be94273bc119b7945babf.png');
}

.faststore-tokensLinks .faststore-sectionItem:nth-child(5) > div {
  background-image: url('https://vtexhelp.vtexassets.com/assets/docs/src/controls___a8302bd539d61653e60cb0aacd1c18e7.png');
}

.faststore-tokensLinks .faststore-sectionItem:nth-child(6) > div {
  background-image: url('https://vtexhelp.vtexassets.com/assets/docs/src/refinements___ca4c7814b2771e84601f4a6d457612fd.png');
}
