name: Devportal Scraper

on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  devportal-scraper:
    runs-on: ubuntu-latest
    name: Run scraper_openapi and scraper_md
    steps:
    - uses: actions/checkout@v2
    - name: Run Devportal Scraper
      uses: vtexdocs/devportal-docsearch-action@test-index-config-fix
      with:
        algolia_application_id: '${{ secrets.ALGOLIA_APP_ID }}'
        algolia_api_key: ${{ secrets.ALGOLIA_WRITE_KEY }}
        files: './configs/scraper_openapi.json ./configs/scraper_md.json'
